.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 90%;
  max-width: 1300px;
  max-height: 90vh;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem;
  background: #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  width: 50%;
  padding: 1rem;
  gap: 2rem;
}

.left {
  flex: 1.5;
  min-width: 600px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: 80vh;
  overflow: hidden;
  padding-right: 0.5rem;
  width: 50%;
}
.right input,
.left input,
.left select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  width: 100%;
}

.right label {
  font-weight: 500;
  margin-top: 0.5rem;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background: #f9fafb;
  border-top: 1px solid #e5e7eb;
}

.footer button {
  background-color: #2563eb;
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.footer button:hover:enabled {
  background-color: #1d4ed8;
}

.footer button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.pdfPreview {
  width: 100%;
  height: 1000px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
